.recipe {
  max-width: 120rem;
  margin: 4rem auto;
  text-align: center;
  background: #fff;
  padding: 4rem;
  box-sizing: border-box;
  font-size: 2.2rem;
}
.recipe p {
  font-size: 1em;
}
.recipe ul {
  display: flex;
  padding: 0;
  justify-content: center;
}
.recipe .btn {
  background-color: #777;
  border-radius: .8rem;
  padding: 1.2rem;
  margin-top: 1.2rem;
  color: #fff;
  font-size: 1em;
}
.recipe .btn:hover {
  background-color: #fff;
  color: #000;
}
.recipe li {
  list-style-type: none;
  margin-right: 1rem;
  color: #777;
  font-size: .8em;
}
.recipe li::after {
  content: ',';
}
.recipe li:last-child::after {
  content: '.';
}

.method {
  text-align: left;
  line-height: 1.5em;
  font-size: .8em;
  padding-top: 2rem;
}

/* dark mode */
.recipe.dark {
  background: #555;
  color: #e4e4e4;
}