.theme-selector {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 120rem;
  margin: 2rem auto;
}
.theme-buttons {
  margin-right: 2rem;
}
.theme-buttons div {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin-left: 1.5rem;
  border-radius: 50%;
}
.mode-toggle {
  margin-left: 2rem;
  margin-right: auto;
}
.mode-toggle img {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}