@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

/* base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  max-width: 100%;
  height: 100%;
  font-size: 62.5%;
}
body {
  font-family: Raleway, sans-serif;
  font-size: 1.4em;
  background: #dfdfdf;
  color: #333;
}

input, textarea {
  color: #333;
  padding: .8rem;
  font-size: 1.2em;
  border-radius: .4rem;
  border: .1rem solid #d4d4d4;
  background-color: #fff;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.page-title {
  text-align: center;
  margin: 4rem auto;
  color: #333;
  font-size: 2em;
}
.loading, .error {
  text-align: center;
  margin: 4rem auto;
}